<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intelli.home.adapter.out.persistence.mapper.RuleManagementMapper">
  <select id="find" resultType="map">SELECT rule_code,enabled,priority,params_json,revision FROM rule_config WHERE rule_code=#{code}</select>
  <update id="update">UPDATE rule_config SET enabled=#{enabled},priority=#{priority},params_json=#{params},revision=revision+1 WHERE rule_code=#{code} AND revision=#{expected}</update>
  <insert id="recordRevision">INSERT IGNORE INTO rule_config_revision(rule_code,revision,definition,created_at) VALUES(#{code},#{revision},#{definition},#{now})</insert>
  <select id="revisions" resultType="string">SELECT definition FROM rule_config_revision WHERE rule_code=#{code} ORDER BY revision DESC</select>
</mapper>
